In [1]:
import pandas as pd
import pandas_datareader as dr
%matplotlib inline

In [2]:
df= dr.data.get_data_yahoo('ibm', start='2018-09-27', end='2018-10-23')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-09-26,153.350006,151.339996,152.399994,151.610001,7401900,139.504593
2018-09-27,152.389999,151.160004,152.009995,151.500000,3477600,139.403366
2018-09-28,151.630005,150.789993,151.160004,151.210007,3305800,139.136520
2018-10-01,153.419998,151.710007,151.710007,153.000000,3757400,140.783600
2018-10-02,153.839996,152.500000,152.990005,153.750000,3029900,141.473694
2018-10-03,154.360001,152.800003,154.000000,153.220001,3315300,140.986008
2018-10-04,152.800003,150.360001,151.690002,151.309998,4237900,139.228516
2018-10-05,151.789993,147.869995,150.899994,149.029999,4602200,137.130585
2018-10-08,149.070007,147.179993,148.500000,148.389999,3239300,136.541672
2018-10-09,148.360001,146.929993,148.080002,147.240005,3642400,135.483505
2018-10-10,147.690002,142.500000,147.500000,142.690002,5547700,131.296799
2018-10-11,144.190002,138.779999,142.619995,139.020004,8710500,127.919830
2018-10-12,141.539993,139.080002,141.119995,140.850006,6563400,129.603729
2018-10-15,142.259995,140.139999,140.380005,141.130005,4965500,129.861374
2018-10-16,145.449997,141.580002,142.929993,145.119995,8695500,133.532776
2018-10-17,137.149994,133.419998,135.889999,134.050003,19464000,123.346680
2018-10-18,133.399994,130.039993,132.729996,130.550003,10011700,120.126129
2018-10-19,131.889999,127.959999,130.649994,129.100006,7791600,118.791916
2018-10-22,130.440002,128.399994,129.580002,130.020004,5719500,119.638443
2018-10-23,131.899994,128.410004,129.020004,131.210007,6463600,120.733437

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 2018-09-26 to 2018-10-23
Data columns (total 6 columns):
High         20 non-null float64
Low          20 non-null float64
Open         20 non-null float64
Close        20 non-null float64
Volume       20 non-null int64
Adj Close    20 non-null float64
dtypes: float64(5), int64(1)
memory usage: 1.1 KB